/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public dopersonal-info)*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,cart,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,personal-info,menu,nav,section{display:block}html,.linter{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* STYILING THE PAGE */

* {
  box-sizing: border-box;
}

/* THE FORM FIELDS STYLE */

ol {
        width: 100%;
}
ol li {
  width: 49%;
  display: inline-block;
}
    
ol li > * {
width: 100%;
}

#twin {
    width: 99%;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5em; 
  height: 100%;
}
body {
  padding: 1.5em;
  background-color: #ffffff;
  min-height: 100%;
}

h2 {
  padding-bottom: 0.5em;
  font-size: 1.35em;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.20em; 
  font-weight: bold;
  
}

h4 {
  font-size: 1.12em;
  font-weight: bold;
}

h5 {
  font-size: 1em;
  font-weight:  500;
  color: #666;
}

#personal-info {
    background-color: #f6eede;
    padding: 1.5rem;
    margin-bottom: 2rem;
}

/* FOT THE DIFFERENT BILLING ADDRESS */
.answer { display:none }

input,
label,
select {
  display: block;
  padding-bottom: 0.3rem;
}

input{ 
  background-color: inherit;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif, Times, serif, 'Arial Narrow', Arial, sans-serif;
  line-height: inherit;
  border: 1px solid rgb(207, 205, 205);
  border-radius: 0;
  background-color: white;
  width: 50%;
  margin-bottom: 0.5em; 
  padding: 0.19em; 
}

button{
  margin-top: 0.8rem;
  padding: 0.7rem 0.7em; 
  background-color: #5b8dbf;
  border: none;
  color: white;
  border-radius: 0; 
  width: 100%;
}

.button-shrink{
    transition: all 0.3s ease-in-out;
}
.button-shrink:hover {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
/* .back-button {
  padding: 0.3125em 0.625em ;
  border:  1px solid #d75459;
  color: #d75459;
  border-radius: 0.375em; 
} */

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

/* .checkbox-field,
.radio-field {
  display: flex;
  align-items: baseline;
} */

/* nav[aria-hidden="true"],
aside[aria-hidden="true"],
ol[aria-hidden="true"] {
  display: none;
}

#checkout-nav ol {
  display: flex;
}

#checkout-nav li {
  display: flex;
  flex-basis: 100%;
  align-items: flex-end;
  justify-content: flex-end;
}

#checkout-nav li::before {
  align-self: center;
  border-bottom: 1px solid;
  content: "\00a0"; 
  /* margin: 0 0.3125em; 
  width: 100%;
 } 
#checkout-nav li:first-child{
  flex: 1 0 auto;
}
#checkout-nav li:first-child::before{
  display: none;
}

#checkout-nav li:not(.nav-complete-page)::before{
  color:transparent;
} 


/* #cart {
    position: relative;            
   top: 50%;    
   vertical-align: middle;                  
   /* transform: translate(0, -50%) 
}  */
 

#cart-header,
#cart-items{
  margin-bottom: 0.5em;
}

#cart-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

#cart-footer{
  border-top: 1px solid  #777b80;
  padding-top: 0.5em;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

/* figure {
  display: flex;
  flex-direction: column;
  align-items: center;
} */


/* .nav-complete-page {
  color: rgb(63,127,128);
} */

/* form {
  display: grid;
  grid-gap: 1.5em;
} */

/* fieldset[name="buttons"] {
  display: flex;
  justify-content: space-between;
  background-color: inherit;
}
ol[name="month-year"]{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

ol[name="month-year"] select,
ol[name="month-year"] input,
ol[name="city-state-zip"] li,
input[name="cvv-number"]{
  width: auto;
}

#cart a {
  width: min-content;
}

fieldset{
  padding: 0.5em;
  border-radius: 0.3125em;
}

#personal-info-page .current-page-heading,
#delivery-page .current-page-heading,
#payment-page .current-page-heading,
#review-page .current-page-heading {
  font-weight: 800;
}

input:focus {
  background-color: #f3f5f9;
} */

img {
	height: 7rem;
	margin-right: 1.25rem;
	width: 6rem;
	border-radius: vrem;
}

@media screen and (min-width: 50em) { /* 800px/16px */

  body {
    display: grid;
    /* grid-template-rows: 2em [header-start] max-content [header-end]
      1.5em [checkout-nav-start cart-start] max-content [checkout-nav-end]
      1.5em [personal-info-start] max-content [personal-info-end cart-end]; */
    grid-template-columns: 10% [header-start checkout-nav-start personal-info-start]
      40% [header-end checkout-nav personal-info-end] 5%
      [cart-start] 35% [cart-end] 5%;
    align-items: start;
  }

  #header { 
    grid-area: header;
    justify-self: left;
  }

  #personal-info {
    grid-area: personal-info;
    background-color: #f6eede;
    
  }
  #cart {
    grid-area: cart;
    
  
  }

  /* ol[name="city-state-zip"]{
    width: 50%;
    display: grid;
    grid-template-rows: [city-start state-start]  auto [city-end state-end]
      auto [zip-start] auto [zip-end];
    grid-template-columns: [city-start zip-start] auto [city-end zip-end] 5%
      [state-start] auto [state-end];
  }
  ol[name="city-state-zip"] input,
  ol[name="city-state-zip"] select,
  ol[name="expiration-and-cvv"] input,
  ol[name="expiration-and-cvv"] select {
    width: 100%;
  }
  #city {
    grid-area: city;
  }
  #state {
    grid-area: state;
  }
  #zip {
    grid-area: zip;
  }

  ol[name="expiration-and-cvv"] {
    display: grid;
    width: 50%;
    grid-template-rows: [expiration-start cvv-start] auto [expiration-end cvv-end];
    grid-template-columns: [expiration-start] auto [expiration-end] 10% [cvv-start] auto [cvv-end];
  }
  #expiration {
    grid-area: expiration;
  }
  #cvv {
    grid-area: cvv;
  } */

  #cart-items li {
    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: max-content 1fr max-content;
    column-gap: 5%;
    row-gap: 3%;
  }

  .item {
    grid-column: 1;
    grid-row : span 2;
  }
  .item-name {
    grid-column: 2;
    grid-row : 1;
  }
  .item-value {
    grid-column: 3;
  }
  .item-size {
    grid-column: 2;
    grid-row : 2;
  }

  #cart-footer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }

  .item-description {
    grid-column: 1;
  }
  .cart-price {
    grid-column: 2;
    justify-self: end;
  }
 
}